<div class="container text-center">
  <div class="jumbotron">
    <h1 class="display-4">Покупаем Б/У строй материалы разных типов</h1>
    <p class="lead">
      Акфа, рамы, двери, железные ворота, заборы, чугунные батареи, шифер и доски, асбест трубы, и прочее...
    </p>
    <hr class="my-4">
    <h1 class="display-5">Цена договорная</h1>
    <p class="lead">
      позвоните прямо сейчас и спросите Дильшода
    </p>
    <p class="lead">
      <a class="btn btn-success btn-lg" href="tel:+998998873300">+998 99 887-33-00</a>
    </p>
  </div>
</div>
